---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">
      {{ post.date | date_to_string }}       
    </span>
    {{ post.excerpt }}
    <div class="excerp">
      <a href="{{ post.url | prepend: site.baseurl }}">Продолжение&#8594;</a>
    </div>
  </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    &#8592; <a class="pagination-item older" href="{{ paginator.next_page_path | replace: '//', '/' }}">Старьё</a>
  {% else %}
    &#8592; <span class="pagination-item older">Старьё</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | replace: '//', '/' }}">Новее</a> &#8594;
  {% else %}
    <span class="pagination-item newer">Новее</span> &#8594;
  {% endif %}
</div>
{% endif %}