---
layout: default
comments: true
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
  <span class="post-date">
    <ul class="tag-box inline" style="float:right;font-size:0.875em">
    #Метки
    {% capture tags %}
      {% for tag in page.tags %}
        {{ tag }}
      {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort %}

    {% for tag in sortedtags %}
      <li><a href="/tegi#{{ tag | cgi_escape }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
  </span>
  <br>
  Поделись страничкой, по-братски. &darr;
  <div class="social-likes">
    <div class="twitter" data-via="">Твитнуть</div>
    <div class="facebook">Зафейсбучить</div>
    <div class="plusone">Плюсануть</div>
    <div class="vkontakte">Закантачить</div>
    <div class="odnoklassniki">Класснуть</div>
    <div class="pinterest" data-media="i/pinnable.jpg">Запинить</div>
  </div>
  <br>
  {% if site.related_posts != empty %}
    <aside class="related">
      <b>Рекомендую Заглянуть:</b>
      <ul class="related-posts">
        {% for post in site.related_posts limit:3 %}
          <li>
            <h3>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
              </a>
            </h3>
          </li>
        {% endfor %}
      </ul>
    </aside>
{% endif %}

Настрочи коммент :)
{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '2gudru';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '2gudru';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endif %}
</div>